<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <div class="panel wrapper">
      <div class="panel-heading">
          <div class="col-sm-6 mungos-logo">
            <img src="assets/images/mungos_logo.png"/>
          </div>
          <div class="col-sm-6 smart-logo">
            <img src="assets/images/smart_logo.png"/>
          </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" name="form">
            <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" pInputText name="user-name" placeholder="Vorname Nachname" [(ngModel)]="model.username" #username="ngModel" class="form-control" />
                </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input type="password" pPassword placeholder="Kennwort" name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control" />
              </div>
            </div>
            <div class="form-group last">
              <div class="col-sm-offset-3 col-sm-9">
                <button pButton type="button" (click)="login()" [disabled]="loading" label="Login" class="ui-button-secondary"></button>
                <button pButton type="button" label="Reset" class="ui-button-secondary"></button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
<div>
</div>  
