.wrapper {
    -webkit-border-radius: 22px 20px 20px 20px;
    -moz-border-radius: 22px 20px 20px 20px;
    border-radius: 22px 20px 20px 20px;
    background:rgba(204,0,0);
    margin-top: 250px;
}

.mungos-logo {
    margin-top: 5px;
    margin-bottom: 10px;
}

.smart-logo {
    margin-top: 5px;
    margin-bottom: 10px;
}
