<menu></menu>
<div class="container">

  <div class="panel">
    <div class="panel-heading">Info</div>
    <div class="panel-body">
      <div class="col-lg-9 col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <td>Region / Adresse</td>
              <td>B</td>
            </tr>
            <tr>
              <td>Kategorie</td>
              <td>B</td>
            </tr>
            <tr>
              <td>Bhf-Info</td>
              <td>B</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
