<menu></menu>
<div class="container" style="margin-top: 75px;">
  <div class="panel panel-default">
    <div class="panel-heading">Info</div>
    <div class="panel-body">
      <div class="col-lg-9 col-md-6">
        <table *ngIf="bahnhof" class="table">
          <tbody>
            <tr>
              <td>Region / Adresse</td>
              <td *ngFor="let b of bahnhof.region">{{b.label}}</td>
            </tr>
            <tr>
              <td>Kategorie</td>
              <td>B</td>
            </tr>
            <tr>
              <td>Bhf-Info</td>
              <td>B</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
